.memory-game {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 420px; /* Dostosuj szerokość kontenera w zależności od marginesów i wielkości kart */
  margin: auto; /* Wyśrodkowanie kontenera */
  
}

.card {
  width: 100px;
  height: 140px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  cursor: pointer;
  margin: 5px;
  font-size: 70px;
  box-sizing: border-box; /* Uwzględnia marginesy w szerokości */
  flex-basis: calc(25% - 10px);
}

.card.flipped {
  background: #fff;
}
